@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Mukta:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');


.dark-scheme {
    --background: #181818;
    --font: #dedede;
    --dark1: #1a120b;
    --dark2: #3c2a21;
    --light1: #d5cea3;
    --light2: #e5e5cb;
    --fa-brown: #854836;
    --fa-sand: #F5B553;
}
  
.fonts {
    --sub-title: 'Gentium Book Basic', serif;
    --small-heading: 'Poppins', sans-serif;
    --small-title: 'Inter', sans-serif;
    --title: 'Mukta', sans-serif;
    --card-font: 'Dongle', sans-serif;
}