
.book-card {
    width: 280px;
    height: 350px;
    margin: 2em;
    /* backface-visibility: hidden; */
    perspective: 800px;
}

.book-content {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 2s;
    transform-style: preserve-3d;
    /* backface-visibility: hidden; */
}

.book-card:hover .book-content {
    cursor: pointer;
    transform: rotateY(180deg);
}

.book-front, .book-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.book-front img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 6px var(--light2);
}

.book-back {
    background: linear-gradient(to right, var(--light1), var(--fa-brown), var(--dark1));
    display: grid;
    place-items: center;
    align-content: center;
    font-family: var(--card-font);
    color: #fff;
    transform: rotateY(180deg);
    /* box-shadow: 1px 1px 6px var(--light2); */
    border-radius: 5px;
    backface-visibility: hidden;
}

.book-back h2 {
    width: 85%;
    font-size: 2.1rem;
    text-align: center;
    transform: translateZ(100px);
}

.book-back p {
    font-size: 1.8rem;
    transform: translateZ(100px);
}

.book-btn {
    background-color: var(--fa-sand);
}

.config {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn__config-add {
    font-size: 2rem;
    padding: 2px 13px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.btn__config-sub {
    font-size: 2rem;
    padding: 0 13px 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}


