
.input-title {
    font-family: var(--small-title);
    font-size: 1.2rem;
    margin: 0 0 6px 0;
}

.input-field {
    font-size: 1.1rem;
    width: 65%;
    margin: 0 auto 15px;
    border-radius: 1em;
    padding: 0.5em 1em;
    outline: none;
    border: 2px solid var(--dark1);
}

.input-field:focus {
    outline: none;
    background-color: #ffa148a6;
}

.input-field.invalid {
    background-color: #ff6767;
}